<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="http://j-heffernan.github.io/ii/home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://j-heffernan.github.io/ii/about/">about</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://j-heffernan.github.io/ii/work/">work</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://j-heffernan.github.io/ii/#contact/">contact</a>
                    </li>
                </ul>
                Created with lotta &#10084; &#8226; by <a href="https://github.com/j-heffernan">Julie Heffernan</a><p class="copyright text-muted small">&copy; 2014 {{ site.title }} All Rights Reserved</p>
            </div>
             <div class="col-md-2">
                Created with lots of <b>ee</b> more &commat; <a href="https://github.com/">&Gopf;it &Hopf;ub</a>.
            </div>
            <div class="col-md-4">
                If curiosity p<b>ee</b>ks more interest s<b>ee</b> more &commat; <a href="https://github.com/">&Gopf;it &Hopf;ub</a>.
            </div>
        </div>
    </div>
</footer>
